@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: roboto;
}

.nav {
    display: flex;
    background: #1F2937;
    padding: 10px;
}

.nav p {
    color: white;
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.nav ul {
    list-style: none;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.nav ul a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    display: flex;
    padding: 100px;
    background: #1F2937;
}

.hero .main {
    flex: 1;
}

.main h1 {
    color: #F9FAF8;
    font-size: 48px;
}

.main p {
    color: #E5E7EB;
    margin-bottom: 10px;
    font-size: 18px;
}

.hero .main button {
    color: white;
    background-color: #3882F6;
    padding: 8px 24px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.main-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-img img {
    width: 350px;
    height: auto;
}

.info-section {
    padding-bottom: 100px;
}

.info-header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    padding: 50px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.info-card {
    flex-basis: 165px;
}

.info-card img {
    width: 165px;
    border-radius: 10px;
}

.info-card p {
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}

.quote-section {
    background: #E5E7EB;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    flex-basis: 800px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
    text-align: end;
}